jobs:

  - template: azure-pipelines-unix-buildwheel-template.yml
    parameters:
      name: 'mac_py310'
      vmImage: 'macOS-15'
      CIBW_BUILD: 'cp310-*'
      NUMPY_VERSION: '2.0.0'

  - template: azure-pipelines-unix-buildwheel-template.yml
    parameters:
      name: 'mac_py311'
      vmImage: 'macOS-15'
      CIBW_BUILD: 'cp311-*'
      NUMPY_VERSION: '2.0.0'

  - template: azure-pipelines-unix-buildwheel-template.yml
    parameters:
      name: 'mac_py312'
      vmImage: 'macOS-15'
      CIBW_BUILD: 'cp312-*'
      NUMPY_VERSION: '2.0.0'

  - template: azure-pipelines-unix-buildwheel-template.yml
    parameters:
      name: 'mac_py313'
      vmImage: 'macOS-15'
      CIBW_BUILD: 'cp313-*'
      NUMPY_VERSION: '2.1.3'

  - template: azure-pipelines-unix-buildwheel-template.yml
    parameters:
      name: 'mac_py314'
      vmImage: 'macOS-15'
      CIBW_BUILD: 'cp314-*'
      NUMPY_VERSION: '2.3.2'
      force: true
